<% if params[:action] == 'search'  %>
  <div class="search-notification text-center col-xs-12 ">
    <%= bootstrap_flash %>
  </div>
<% end %>

<% if @friends %>
<div class="well results-block col-xs-12 text-center">
  <div class="row">
    <% @friends.each do |friend| %>
    <div class="col-xs-9">
      <strong>E-mail :</strong> <%= friend.email %><br>
      <strong>Name :</strong> <%= friend.full_name %><br>
      <%= link_to "Profile", user_path(friend), class: 'btn btn-xs btn-success' %>
    </div>
    <div class="col-xs-3">
      <% if current_user.friends.include?(friend) %>
         <%= link_to "UNFOLLOW", friendship_path(friend), method: :delete %>
      <% else %>
         <%= link_to "Follow", add_friend_path(user_id: current_user.id, friend_id: friend.id),
                               method: :post%>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
<% end %>
